sudo: required
services:
  - docker

before_install:
  - docker build -t marcusguan/docker-react -f Dockerfile.dev .

script:
  - docker run -e CI=true marcusguan/docker-react npm run test

deploy:
  provider: elasticbeanstalk
  region: "ap-southeast-1"
  app: "docker_react"
  env: "DockerReact-env"
  bucket_name: "elasticbeanstalk-ap-southeast-1-620337566690"
  bucket_path: "docker_react"
  on:
    branch: master
access_key_id: $aws_access_key
secret_access_key: 
  secure: "$aws_scecret_key"